{erl_opts, [debug_info]}.
{deps, [
        {cowboy, "2.7.0"}
        ,{ranch, "1.7.1"}
    ]}.

{plugins, [rebar3_run]}.

{relx, [{release, {ml_charge, "0.1.0"},
         [ml_charge,xmerl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }
          ,{dev, [
          {relx, [{debug_info, keep},
                {dev_mode, true},
                {include_erts, false},
                {include_src, false}]}]}  ]
}.
